<html><head><title>foreclosures map</title>
<script type="text/javascript" src="/static/jquery-1.3.min.js"></script>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAi38qWc-9V8q5b6bgPClsfxTfKEWMeMOdp19wa3uONsY3R1LXvRTgTR8o6snPUFoi7M-AG31rpq6VWQ" type="text/javascript"></script>
<script src="http://www.google.com/jsapi?key=ABQIAAAAi38qWc-9V8q5b6bgPClsfxTfKEWMeMOdp19wa3uONsY3R1LXvRTgTR8o6snPUFoi7M-AG31rpq6VWQ"></script>
<script type="text/javascript">

{% autoescape off %}
	var hoods = {{ hoods_json }};
{% endautoescape %}

function makeline(border, levels, color, opacity) {
    return new GPolygon.fromEncoded({
        polylines: [{
            points: border,
            levels: levels,
            color: color,
            opacity: 1,
            weight: 4,
            numLevels: 4,
            zoomFactor: 32
        }],
        fill: true,
        color: color,
        opacity: opacity,
        outline: true
    });
}

function init() {
    map = new google.maps.Map2($("#map")[0]);
    map.addControl(new google.maps.LargeMapControl());
    map.setCenter(new google.maps.LatLng(39.30, -76.6),13);

    $.each(hoods, function(k, v) {
        var ln = makeline(v[2], v[3], "#FF8800", 0);
        map.addOverlay(ln);
        var center = v[4];

        icon = new GIcon(G_DEFAULT_ICON);
        icon.image = "http://billmill.org/static/circles/" + v[5] + ".png";
        icon.shadow = "";
        //console.log(icon.image);
        icon.iconSize = new GSize(100,100);
        //icon.shadowSize = new GSize(0,0);
        //icon.iconAnchor = new GPoint(, );
        //icon.dragCrossSize = new GSize(, );
        //icon.dragCrossAnchor = new GPoint(,);
        var markerData = {};
        markerData.icon = icon;

        var c = new GMarker(new GLatLng(center[0], center[1]), markerData);
        
        map.addOverlay(c);
    });
}
google.setOnLoadCallback(init);
</script>

</head>
<body>
<div id="map" style="width: 90%; height: 100%; background-color: red">
</div>
</body></html>
