<%namespace file="teampage.mak" import="item_name, sku" />
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<p class="addtocart">
    <input type="image" 
           src="https://www.paypal.com/en_US/i/btn/btn_cart_SM.gif" 
           border="0" name="submit" 
           alt="Make payments with PayPal - it's fast, free and secure!">
</p>
<input type="hidden" name="add" value="1">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="forcemiddlediscs@gmail.com">
<input type="hidden" name="item_name" value="${item_name}">
<input type="hidden" name="item_number" value="Jojah-2008">
<input type="hidden" name="amount" value="12.00">
<input type="hidden" name="no_shipping" value="0">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="bn" value="PP-ShopCartBF">
</form>
