[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    re = restore
    sw = switch
    wt = worktree

    # Show branches, verbosely, sorted by last touch, with commit messages.
    brv = "!f() { git branch --sort=-creatordate --color=always --format='%(color:reset)%(creatordate:short) %(color:bold white)%(align:2,right)%(upstream:trackshort)%(end)%(color:nobold) %(align:40,left)%(color:yellow)%(refname:short)%(end) %(color:reset)%(contents:subject)'; }; f"


[user]
    name = Bill Mill
    email = bill@billmill.org
[color]
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[push]
    default = upstream
[credential]
	helper = osxkeychain
[diff]
    algorithm = patience
    compactionHeuristic = true
	noprefix = true
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true

# Git doesn't check the validity of commit hashes by default
# https://groups.google.com/forum/#!topic/binary-transparency/f-BI4o8HZW0
#
# ... I turned this off a few months later because several of the git repos
# I depend on for vim plugins have fsck errors. Even python requests does.
# I wish they didn't.
#
#[transfer]
#    fsckobjects = true 
#[fetch]
#    fsckobjects = true 
#[receive]
#    fsckObjects = true 
#

[hub]
	host = github.cms.gov
