set completion-ignore-case On

# If there are multiple matches for completion, Tab should cycle through them
TAB:menu-complete

# Display a list of the matching files
set show-all-if-ambiguous on

# Perform partial completion on the first Tab press,
# only start cycling full results on the second Tab press
set menu-complete-display-prefix on
