# If you have direnv (https://direnv.net/) installed, this will properly set
# the pythonpath for you so that you can import utils
export PYTHONPATH=$(pwd)

# NOTE that this file is committed to the repository, don't put anything secret
# in here
